body {
    background-color: var(--black-color);
    place-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
}

h1 {
    color: var(--white-color);
    font-size: var(--font-size-36);
    z-index: 1;
}

table {
    border-collapse: collapse;
}

tr {
    width: 39.9rem;
}

td {
    width: 13.3rem;
    height: 13.3rem;
    border: 5px solid var(--white-color);
    position: relative;
}

.bg {
    background-color: var(--black-color);
}

.bg:hover,
.result button:hover {
    background-color: rgba(240, 240, 245, 0.1);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.bx {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13.3rem;
}

.bx-circle {
    color: var(--red-color);
    font-size: 11rem;
    left: 0.85rem;
    top: 0.85rem;
}

.bx-x {
    color: var(--blue-color);
}

.players {
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.result,
.player {
    gap: 10px;
    align-items: center;
}

.player i,
.player span {
    font-size: var(--font-size-32);
    z-index: 1;
}

.player i {
    position: unset;
}

.player span {
    color: var(--white-color);
}

.active {
    width: 260px;
    height: 60px;
    background-color: var(--black-color);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.active::before {
    content: '';
    position: absolute;
    width: 260px;
    background-image: linear-gradient(180deg, var(--red-color), var(--blue-color));
    height: 130%;
    animation: border 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active::after {
    content: '';
    position: absolute;
    background: var(--black-color);
    inset: 5px;
    border-radius: 15px;
}

.puls {
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}

.win {
    background-color: rgba(255, 215, 0, 0.8);
}

.result > span {
    color: var(--gold-color);
    font-size: var(--font-size-32);
}

.result span ~ span {
    color: var(--silver-color);
    font-size: var(--font-size-32);
}

.result button {
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: var(--font-size-24);
    border: 2px solid var(--white-color);
    padding: 5px 10px;
    cursor: pointer;
}